<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zhoushan.blog.persistence.mapper.SysLinkMapper">
    <resultMap id="rm" type="com.zhoushan.blog.persistence.beans.SysLink">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="favicon" column="favicon" jdbcType="VARCHAR"/>
        <result property="qq" column="qq" jdbcType="VARCHAR"/>
        <result property="homePageDisplay" column="home_page_display" jdbcType="INT"/>
        <result property="status" column="status" jdbcType="INT"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="source" column="source" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="findPageBreakByCondition" parameterType="com.zhoushan.blog.business.vo.LinkConditionVO" resultMap="rm">
        SELECT
        t.*
        FROM
        sys_link t
        WHERE
        2=2
        <if test="status!=null">
            AND t.`status`=#{status}
        </if>
        <if test="homePageDisplay !=null">
            AND t.`home_page_display`=#{homePageDisplay}
        </if>
        ORDER BY
        (t.STATUS>0) DESC,
        t.status ASC,
        t.create_time DESC
    </select>
</mapper>